/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/*Мои стили*/
body {
  font-family: 'Helvetica Neue', serif;
}

.block-top {
  position: relative;
  background: url("/img/block_1_bcg.png") no-repeat center;
  background-size: cover;
  width: 100%;
  padding-top: 92px;
}

.block-top:before {
  content: url("/img/block_1_bcg_text.png");
  width: 100%;
  height: auto;
  position: absolute;
  top: 82px;
  left: 56px;
}

.block-top__button--top {
  display: inline-block;
  width: 220px;
  height: 70px;
  padding: 12px 22px;
  background: #D54C7E;
  border-radius: 35px;
}

.block-top__button--top span {
  font-family: 'Helvetica Neue', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 40px;
  color: #FCFCFC;
}

.block-top__left {
  position: absolute;
  top: -35px;
  left: 55px;
}

.block-top__left img {
  max-width: 100%;
  height: auto;
}

.block-top__right {
  margin-left: 52px;
}

.block-top__text {
  font-family: 'Helvetica Neue', serif;
  font-style: normal;
  font-weight: 700;
  color: #2B2A2A;
}

.block-top__text--header {
  font-size: 100px;
  line-height: 93px;
  max-width: 225px;
}

.block-top__text--sub {
  font-size: 31px;
  line-height: 38px;
}

.block-top__form {
  margin-top: 2.5rem;
}

.block-top__fields {
  margin-bottom: 1.25rem;
}

.block-top__input {
  width: 220px;
  height: 46px;
  background: #E0CBCB;
  border: 1px solid #FFFFFF;
  border-radius: 25px;
  text-align: center;
}

.block-top__input[type="submit"] {
  font-family: 'Source Serif Pro', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2B2A2A;
}

.block-top__input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  font-family: 'Source Serif Pro', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2B2A2A;
}

.block-top__input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-family: 'Source Serif Pro', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2B2A2A;
}

.block-top__input::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-family: 'Source Serif Pro', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2B2A2A;
}

.block-top__input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: 'Source Serif Pro', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2B2A2A;
}

.block-top__input::-ms-input-placeholder { /* Microsoft Edge */
  font-family: 'Source Serif Pro', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2B2A2A;
}

.block-top__input::placeholder { /* Most modern browsers support this now. */
  font-family: 'Source Serif Pro', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2B2A2A;
}

.block_2 {
  background: url('/img/block_2_bcgr.png') center no-repeat;
  background-size: cover;
  padding-top: 49px;
}

.block_2__first-letter,
.block_2__second-letter {
  font-family: 'Helvetica Neue', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 93px;
  color: #7A7D7E;
}

.block_2__second-letter {
  margin-bottom: 30px;
}

.block_2__text-center {
  font-family: 'Source Serif Pro', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 65px;
  color: #2B2A2A;
}

.block_2__img {
  margin-left: 18px;
  z-index: 1;
}

.block_2__img::before {
  content: url("/img/block_2_letter.png");
  position: absolute;
  top: -250px;
  left: 0;
  z-index: -1;
}

.block_2__img img {
  max-width: 100%;
  height: auto;
  position: relative;
  left: 70px;
}

.block_2__list {
  margin-top: 50px;
  list-style-type: none;
}

.block_2__list--items {
  font-family: 'Source Serif Pro', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
  color: #2B2A2A;
  position: relative;
  padding: 0 0 0 14px;
}

.block_2__list--items::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -14px;
  transform: translate(0, -50%);
  width: 13px;
  height: 13px;
  background: #D67A98;
  border-radius: 50%;
}
.block_2__list--items:nth-child(3)::before {
  top: 25%;
  left: -14px;
  transform: translate(0, -25%);
}

.block_3 {
  font-family: 'Source Serif Pro', serif;
  font-style: normal;
  color: #7576AA;
  background: url("/img/block_3__bcg.png") center no-repeat;
  background-size: cover;
  width: 100%;
  padding: 10px 50px 60px 50px;
}
.block_3__title {
  font-weight: 700;
  font-size: 54px;
  line-height: 68px;

}
.block_3__text{
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.block_3 .card {
  width: 300px;
  height: auto;
}
.block_3 .card-header{
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #2B2A2A;
  margin-bottom: 3px;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media screen and (min-width: 992px ) {
  .block_2__first-letter,
  .block_2__second-letter {
    display: block;
  }

  .block_2__first-letter {
    margin-right: 150px;
  }

  .block_2__second-letter {
    margin-left: 50px;
  }

  .block_2__text-center {
    margin-left: 30px;
  }
}

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

